.single-panel
{
    height: 600px;
}

.red-panel
{
   background-color:#c06565;       
}

.blue-panel
{
   background-color:#2e356f;
}

.green-panel
{
   background-color:#22691d;
}

.purple-panel
{
   background-color:#5b2f6a;
}
​